.btuBadge {
  display: block;
  width: 222px;
  height: 222px;
  background: url(../../assets/images/btu_badge_lilac.svg) 0 0 no-repeat;

  .btuAmount {
    color: $straw;
    font-size: 66px;
    font-weight: 800;
    padding-top: 44px;
    line-height: 100%;

    &.hundreds {
      font-size: 56px;
      padding-top: 54px;
    }
  }

  .btuMagnitude {
    color: $straw;
    text-transform: uppercase;
    margin-top: -2px;
  }

  .btuLocation {
    font-weight: 800;
    color: $lilac;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 10px;
  }

  p {
    position: absolute;
    color: $lavender;
    text-align: center;
    width: 100%;

    &.pre {
      top: -32px;
    }
    &.post {
      bottom: -40px;
      white-space: nowrap;
    }
  }
}

.invert {
  .btuBadge {
    background-image: url(../../assets/images/btu_badge_straw.svg)
  }

  .btuAmount,
  .btuMagnitude {
    color: $lavender;
  }

  .btuLocation,
  p {
    color: $straw;
  }
}
