detail-box {
  width: 175px;
  margin: 0 auto;
  background: $straw-5;

  .title {
    background: $straw-5;
    text-transform: uppercase;
    padding: 5px;
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 105%;
    padding: 7px;
  }
}
