<div class="slide-body state">
  <logo></logo>

  <div class="hero-type">
    Here’s a sample of <br />six energy resources used in {{ StateCtrl.selectedState }}.
  </div>

  <energy-legend
  ></energy-legend>

  <div
    dee-three="StateCtrl.resourceData"
    dee-three-interface="StateCtrl.d3api"
    dee-three-outer-circle-offset="5"
    dee-three-energy-click-callback="StateCtrl.energyTypeClick"
  ></div>

  <btu-badge
    btu="StateCtrl.btuTotal"
    pre="A person uses"
    class="invert"
    post="of Wind in {{ StateCtrl.selectedState }}"
  ></btu-badge>

  <detail-box
    energy-data="StateCtrl.selectedEnergyData"
  ></detail-box>

  <footer-pager>
    What about your entire state, and others, in a year?
  </footer-pager>

</div>