$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,500,800,700);

@charset "UTF-8";
@font-face {
  font-family: 'brandico';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/brandico.eot');
  src: url('../assets/fonts/brandico/brandico.eot?#iefix') format('eot'), 
  url('../assets/fonts/brandico.woff') format('woff'), 
  url('../assets/fonts/brandico.ttf') format('truetype'), 
  url('../assets/fonts/brandico.svg#brandico') format('svg');
}

/**
  Colors
*/
$lavender: rgb(124, 94, 117);
$lilac: rgb(165, 143, 159);
$rust: rgb(229, 173, 147);
$lightBlue: #3f6b94;
$straw: #fef7ca; //rgb (253, 247, 202);
$straw-85: rgba($straw, 0.85);
$straw-50: rgba($straw, 0.50);
$straw-25: rgba($straw, 0.25);
$straw-5: rgba($straw, 0.05);
$darkBlue: #2F2C5E;

/**
 * App-wide Styles
 */

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: $straw;
}

p {
  font-size: 1.33em;
  font-weight: 200;
}

h1 {
  font-weight: 800;
  font-size: 2.5em;
}

h2 {
  font-weight: 800;
  font-size: 2.0em;
}

h3 {
  font-weight: 200;
  font-size: 2.175em;
  text-transform: uppercase;
}

h4 {
  font-weight: 800;
  font-size: 1.5em;
}

h5 {
  font-weight: 700;
  font-size: 1em;
}

.hero-type {
  font-weight: 200;
  font-size: 42px;
  color: $straw;
  border-left: 3px solid $straw;
  padding-left: 25px;
  line-height: 100%;
}

.btn-unstyled {
  display: block;
  margin: 0 auto;
  border: 0;
  outline: 0;
}

.diamond {
  width: 22.6px;
  height: 22.6px;
  transform: rotate(45deg);
  margin-left: 50px;
  background: $straw;
  display: inline-block;
}

//To make BS cols the same height
.row {
  display: flex;
}

.vertical-center {
  display:         flex;
  align-items: center;
}

// fullpage.js override
.fp-tableCell {
    display: block;
}

// Component styles are injected through grunt
// injector
@import 'views/individual/individual.scss';
@import 'views/main/main.scss';
@import 'views/nation/nation.scss';
@import 'views/state/state.scss';
@import 'views/statevstate/statevstate.scss';
@import 'views/title/title.scss';
@import '../components/btuBadge/btuBadge.scss';
@import '../components/d3/d3.scss';
@import '../components/detailBox/detailBox.scss';
@import '../components/downArrow/downArrow.scss';
@import '../components/footerPager/footerPager.scss';
@import '../components/gradients/gradients.scss';
@import '../components/legend/legend.scss';
@import '../components/social-media/social-media.scss';
@import '../components/state-drop-down/state-drop-down.scss';
@import '../components/stateSelector/stateSelector.scss';
@import '../components/timeline/timeline.scss';
// endinjector
