<div>
	<div facebook class="facebookShare" data-title='{{socialMedia.title}}' data-picture-url='{{socialMedia.image}}' data-url='{{socialMedia.url}}' data-shares='shares'>{{ shares }}</div>

	<a twitter  data-lang="en" data-count='horizontal' data-url='{{socialMedia.url}}' data-via='{{socialMedia.TWITTER.account}}' data-size="medium" data-text='{{socialMedia.TWITTER.tweet}}' ></a>

	<div linkedin class="linkedinShare" data-url='{{socialMedia.url}}' data-title='{{socialMedia.title}}' data-summary="{{socialMedia.LINKEDIN.summary}}" data-shares='linkedinshares'>{{linkedinshares}}</div>
</div>