<div class="social-media">
	<h4>Invite Others:</h4>
	<hr />
	<div class="social-buttons">
		<div class="diamond">
			<a ng-href="https://twitter.com/intent/tweet?text={{socialMedia.TWITTER.tweet}}&amp;tw_p=tweetbutton&amp;url={{socialMedia.url}}&amp;via={{socialMedia.TWITTER.account}}" target="_blank">
					<div class="so-twitter-bird"></div>
			</a>
		</div>
		<div class="diamond">
			<div facebook data-title="{{socialMedia.title}}" data-picture-url="{{socialMedia.image}}" data-url="{{socialMedia.url}}">
				<div class="so-facebook"></div>
			</div>
		</div>
		<div class="diamond">
			<div linkedin data-url="{{socialMedia.url}}" data-title="{{socialMedia.title}}" data-summary="{{socialMedia.LINKEDIN.summary}}">
					<div class="so-linkedin"></div>
			</div>
		</div>
	</div>
</div>