.individual {
  position: relative;

  .logo {
    margin: 40px 0 0 40px;
  }

  .hero-type {
    margin-top: 60px;
    margin-left: 150px;
  }

  btu-badge {
    position: absolute;
    top: 350px;
    right: 135px;
  }

  detail-box {
    bottom: 125px;
  }
}
