<div class="slide-body individual">
  <logo></logo>

  <div class="hero-type">
    To start, this is just a sample of<br />one energy resource used in {{ IndividualCtrl.selectedState.displayName }}.
  </div>

  <energy-legend
  ></energy-legend>

  <div
    dee-three="IndividualCtrl.resourceData"
    dee-three-interface="IndividualCtrl.d3api"
    dee-three-outer-circle-offset="5"
    dee-three-energy-click-callback="IndividualCtrl.energyTypeClick"
  ></div>

  <btu-badge
    btu="IndividualCtrl.btuTotal"
    pre="A person uses"
    post="of {{ IndividualCtrl.selectedEnergyType}} in {{ IndividualCtrl.selectedState.displayName }}"
  ></btu-badge>

  <detail-box
    energy-data="IndividualCtrl.selectedEnergyData"
  ></detail-box>

  <footer-pager>
    Let’s see what 6 resources add up to.
  </footer-pager>

</div>