state-selector {
  width: 430px;
  margin: 30px auto;
  display: block;

  .selectedState {
    background: $straw-25;
    height: 55px;
    width: 300px;
    float: left;
    margin: 0 10px;
    line-height: 55px;
    text-transform: uppercase;
  }

  button {
    background: $straw-25;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
  }
}
