<div class="slide-body">
  <logo></logo>

  <div class="hero-type">
    In 2013, each person in the US used <br/> <strong>{{ NationCtrl.btuTotal | number }} </strong> BTU of all energy resources.
  </div>

  <energy-legend
  ></energy-legend>

  <div class="us-map"
    dee-three="NationCtrl.resourceData"
    dee-three-interface="NationCtrl.d3api"
    dee-three-outer-circle-offset="5"
    dee-three-energy-click-callback="NationCtrl.energyTypeClick"
  ></div>

  <btu-badge class="invert"
    btu="NationCtrl.btuTotal"
  ></btu-badge>

  <detail-box
    energy-data="NationCtrl.selectedEnergyData"
  ></detail-box>

  <social-media></social-media>
</div>
