<div class="slide-body title container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
      <img src="../assets/images/hero_title.svg" alt="The Power of You" class="center-block hero_title">
      <p class="text-justify">
        From the click of a mouse to the turn of a car key, we all use more energy than what our power bill would lead us to believe. Just how much energy though?
      </p>
      <p class="text-justify">
        Understanding how much energy is used is only a chapter in the story of sustainability. Learn how much you’re really using and invite others to inform themselves above and beyond reading their electric bill each month.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h3 class="text-center">Where do you live?</h3>
      <div data-state-drop-down state-array="TitleCtrl.stateArray" selected-state="TitleCtrl.selectedState" selected-state-callback="TitleCtrl.stateChangedEvent"></div>
    </div>
  </div>
  <down-arrow ng-class="{ 'disabled' : TitleCtrl.disableDownButton }" move-slide-down-click></down-arrow>
</div>

