.title {
  background-image: url(../assets/images/title_bg.svg);

  .hero_title {
    width: 100%;
    margin-top: 20%;
  }

  p {
    margin-top: 40px;
    line-height: 175%;
  }

  down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -47px;
  }
}
