.downArrow {
  opacity: 0.8;
  @extend .down_btn;

  &:hover {
    opacity: 1;
  }
}

.disabled,
.disabled:hover {
  .downArrow {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.downArrow-straw {
  .downArrow {

  }
}
