.sunny-day-gradient .downArrow {
  background-image: url("../assets/images/downArrow_lilac.svg")
}
.downArrow {
  opacity: 0.8;
  background: url("../assets/images/downArrow_straw.svg") 0 0 no-repeat;
  width: 95px;
  height: 95px;

  &:hover {
    opacity: 1;
  }
}

.disabled,
.disabled:hover {
  .downArrow {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

