<div class="slide-body statevstate">
  <img
  src="../assets/images/logo.svg"
  alt="The Power of You"
  class="logo" />

  <div class="hero-type">
    How much energy does <br/>each state population use?
  </div>

  <energy-legend
  ></energy-legend>

  <div class="cssFade" ng-class="{ 'loading' : StatevstateCtrl.loadingData }" 
    dee-three="StatevstateCtrl.resourceData"
    dee-three-interface="StatevstateCtrl.d3api"
    dee-three-outer-circle-offset="5"
    dee-three-energy-click-callback="StatevstateCtrl.energyTypeClick"
  ></div>

  <btu-badge class="invert"
    btu="StatevstateCtrl.btuTotal"
    pre="{{ StatevstateCtrl.selectedState.name }} uses"
  ></btu-badge>

  <state-selector selected-state="StatevstateCtrl.selectedState"></state-selector>

  <footer-pager class="invert">
    What about the whole nation’s usage?
  </footer-pager>
</div>

