<div class="slide-body individual container-fluid">
  <div class="row">
    <div class="col-xs-6 text-left">
      <img src="../assets/images/logo.svg" alt="The Power of You" class="logo" />
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="hero-type">
        How much energy does each state population use?
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 vertical-center">
      <energy-legend ng-show="IndividualCtrl.showLegend"></energy-legend>
      <detail-box ng-show="!IndividualCtrl.showLegend" energy-data="IndividualCtrl.selectedEnergyData"></detail-box>
    </div>
    <div class="col-xs-7">
      <div dee-three="IndividualCtrl.circleData" dee-three-outer-circle-offset="5" dee-three-energy-click-callback="IndividualCtrl.energyTypeClick" style="height: 360px;"></div>
      <state-selector></state-selector>
    </div>
    <div class="col-xs-3 vertical-center">
      <btu-badge class="invert" btu="200000000"></btu-badge>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <footer-pager>
        What’s our usage look like in the past?
      </footer-pager>
    </div>
  </div>
</div>

