<section id="mainSection" fullpage fullpage-interface="MainCtrl.fullpageInterface">
  <div class="section gradient-bg-extend dark-blue-gradient" ui-view="title" normal-scroll></div>

  <div class="fadeTransition section gradient-bg-extend sunny-day-gradient" ui-view="individual"></div>
  <div class="fadeTransition section gradient-bg-extend pink-purple-gradient" ui-view="state"></div>

  <div class="fadeTransition section gradient-bg-extend pink-purple-gradient" ui-view="statevstate"></div>
  <div class="fadeTransition section gradient-bg-extend dark-blue-gradient" ui-view="nation"></div>
</section>

