#mainSection {
  .slide-body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fadeTransition {
    transition: opacity 1500ms ease-out;
    opacity: 1;
  }

  .fadeIn {
    opacity: 0 !important;
  }
}

info-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
}
