<section id="mainSection" fullpage fullpage-interface="MainCtrl.fullpageInterface">
  <div class="section dark-blue-gradient" ui-view="title"></div>

  <div class="fadeTransition section sunny-day-gradient" ui-view="individual" ng-show="!MainCtrl.hideViews" ng-class="{ 'fadeIn': MainCtrl.hideViews}"></div>

  <div class="fadeTransition section sunny-day-gradient" ui-view="statevstate" ng-show="!MainCtrl.hideViews" ng-class="{ 'fadeIn': MainCtrl.hideViews}"></div>

  <div class="fadeTransition section pink-purple-gradient" ui-view="state" ng-show="!MainCtrl.hideViews" ng-class="{ 'fadeIn': MainCtrl.hideViews}"></div>

  <div class="fadeTransition section clear-sky-gradient" ui-view="nation" ng-show="!MainCtrl.hideViews" ng-class="{ 'fadeIn': MainCtrl.hideViews}"></div>
</section>
<info-button></info-button>
