#mainSection {
  .slide-body {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1280px;
    min-height: 800px;
    height: 100%;
    margin: 0 auto;
    display: block;


    btu-badge {
      position: absolute;
      top: 350px;
      right: 135px;
    }

    detail-box {
      bottom: 125px;
    }
  }

  .fadeTransition {
    transition: opacity 1500ms ease-out;
    opacity: 1;
  }

  .fadeIn {
    opacity: 0 !important;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background: $darkBlue;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  transition: bottom 500ms ease-out;

  &.hideFooter {
    bottom: -25px;
  }
}
